@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    background-color: #fef;
    color: #434;
}

a, a:visited {
    color: #868;
    text-decoration: none;
    transition: all 500ms;
}

a:hover {
    color: #434;
}

table {
    width: 100%;
}

th {
    height: 2rem;
    background-color: #868;
    color: white;
    text-align: center;
}

.toRight {

}